<div class="tlItem <%= i%2 == 0 ? :left : :right %>">
    <div class="tlHeader"><div class="fbimage"></div><span class="people"><h4>3 People</h4><span class="timeago">One hour ago<span></span></div>
    <h3 class="action">Suggest listening to</h3>
    <div class="album">
        <span class="artist"><%= voting_round.winning_song.name %></span>
        <span class="song">by <%= voting_round.winning_song.artist %></span>
    </div>
</div>    
