<div class="album_art">
  <img src="/images/albums/<%= song.album_art %>" />
</div>
<div class="album_info">
    <div class="now_playing"><div class="pointer red">NOW PLAYING<div class="point red"></div></div></div>
    <div class="song_title"><%= song.name %><br /><%= song.artist %></div>
</div>
<div style="visibility:hidden;position:absolute;top:-100px;">
<%= render 'songs/embedded_player', :song => song %>
</div>
