<div class="album_art">
  <img src="/images/albums/<%= song.album_art %>" />
</div>
<div class="album_info">
    <div class="now_playing"><div class="pointer red">NOW PLAYING</div> <div class="fbimage"></div><div class="fbimage"></div></div>
    <div class="song_title"><%= song.artist %> - <%= song.name %></div>
    <div class="playing_next"><div class="pointer gray">PLAYING NEXT</div><div class="fbimage"></div></div>
    <div class="playing_next_title">???????</div>
</div>
