<div id="song" class="votingSong">
    <div class="album_art"></div>
    <div class="album_info">
        <h2><%= song.name %><h2>  
        <%= song.artist %>
    </div>    
    <div class="votes">
        <div class="progBar"><span>0%</span></div>
    </div>
</div>
