<div id="song<%= song.id %>" class="votingSong">
    <div class="album_art"><img src="/images/albums/<%= song.album_art %>" /></div>
    <div class="album_info">
        <h2 class="songName"><%= song.name %></h2>  
        <h2 class="songArtist"><%= song.artist %></h2>
    </div>    
    <div class="votes" style="display:none">
        <div class="progBar"><span>0%</span></div>
    </div>
</div>
