<div id="timeLeft">Time Left to Vote:
    <h2 id="countdown"></h2>
</div>
<div class="jb">
    <div class="fadeBack"></div>
    
    <div class="content">
      <%= render :partial => "songs/now_playing", :locals => { :song => jukebox.now_playing_song } %>
    </div>
    
    <div class="likes">
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
    </div>
</div>
