<div class="jb">
    <div class="fadeBack"></div>
    
    <div class="content">
      <div class="content_inner"></div>

      <button class="skipSong">Skip Song</button>
    </div>
    
</div>
<div id="timeLeft">Time Left to Vote:
    <h2 id="countdown"></h2>
</div>