<div id="timeLeft">Time Left to Vote:
    <h2 id="countdown"></h2>
</div>
<div class="jb">
    <div class="fadeBack"></div>
    
    <div class="content">
        <div class="album_art"></div>
        <div class="album_info">
            <div class="now_playing"><div class="pointer red">NOW PLAYING</div> <div class="fbimage"></div><div class="fbimage"></div></div>
            <div class="song_title">Apple Blossom</div>
            <div class="playing_next"><div class="pointer gray">PLAYING NEXT</div><div class="fbimage"></div></div>
            <div class="playing_next_title">Ways to School by Yiruma</div>
        </div>
    </div>
    
    <div class="likes">
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
        <div class="fbimage"></div>
    </div>
</div>
