<div data-role="collapsible" data-theme="a"  data-content-theme="b">
   <h3>Currently playing - Lady Gaga. Just Dance</h3>
   <div class="ui-grid-a votingList" style="clear:left">
   	<div class="ui-block-a albumArt"><img src="/images/albums/jagger.jpg" /></div>
   	<div class="ui-block-b"><span>Shity Song</span><span>Shity Artist</span></div>
   </div>
</div>

<div data-role="collapsible" data-theme="b"  data-content-theme="b" data-collapsed="false" >
   <h3>Vote for the next song</h3>
    <div class="ui-body votingList">
        <div class="ui-grid-a votingList" style="clear:left">
        	<div class="ui-body ui-body-c songForVote">
        	    <div class="ui-block-a albumArt"><img src="/images/albums/jagger.jpg" /></div>
        	    <div class="ui-block-b"><span>Shity Song</span><span>Shity Artist</span></div>
        	</div>
        	<div class="ui-body ui-body-c songForVote">
        	    <div class="ui-block-a albumArt"><img src="/images/albums/jagger.jpg" /></div>
        	    <div class="ui-block-b"><span>Shity Song</span><span>Shity Artist</span></div>
        	</div>
        	<div class="ui-body ui-body-c songForVote">
        	    <div class="ui-block-a albumArt"><img src="/images/albums/jagger.jpg" /></div>
        	    <div class="ui-block-b"><span>Shity Song</span><span>Shity Artist</span></div>
        	</div>
        </div>
    </div>
</div>

<!-- useless header
<div><div class="pointer red">Up For Vote!<div class="point red"></div></div></div>
-->

<script type="text/javascript">
var voting_round;

$(function() {
    
    $.get("/voting_rounds/current",
        {"jukebox_id":1},
        function(data) {
            console.log(data);
        }
    );
    
    $("header div.headWrap").click(function() {
        $("#slider").slideToggle("slow");
    })
    

    
    
})


// Fuck namespacing
function setSongPercent (songDOM, percent) {
    var $song = $(songDOM);
    //Set % text
    $song.find("div.progBar span").text(percent+"%");
    
    //Set length of progressbar
    $song.find("div.progBar").css("width", (percent+"%"));    
}

function updatePerc() {
    //Grab current state of all songs
    $.get("/songs/songsForVote?voting_round_id=" + voting_round, 
        function(data) {
            var totalVotes = 0;
            //Grab total votes
            for(var i=0,l=data.length;i<l;i++) {
                totalVotes += data[i].votes.length
            }

            // update Songs 
            for(var i=0;i<l;i++) {
                var perc = (data[i].votes.length/totalVotes)*100;
                setSongPercent($("#song"+data[i].id).eq(0), perc);
            }

        }, 
    "json")
    setTimeout(updatePerc, 1000)
}

function attachVotes() {
    //voting
    $("div.votingSong").click(function() {
        console.log("Got a click...");
        console.log("Voting round is " + voting_round_id);
        $.post("/votes", { "vote[user_id]": 2, "vote[song_id]": $(this).attr("id").replace("song",""), "vote[voting_round_id]": voting_round_id });
        return false;
    })
}

$(function () {
    //Slide widets in
    
    $('#tlContainer').animate( {"top":0}, 2000, "easeOutElastic" );
    
    
    
    // Request to update numbers
   // updatePerc()
    
    //Countdown timer until song changes
    var totalTime = 10,
        endTime = new Date(),
        $timer = $("#countdown");
    endTime.setSeconds(endTime.getSeconds() + totalTime);
        
        
    (function countDown() {
        var now = new Date(),
            timeLeft = Math.floor((endTime-now)/1000),
            formatted = timeLeft < 10 ? timeLeft < 0 ? "00": "0"+timeLeft : timeLeft;
        $timer.text("00:"+formatted);
            
        if(endTime - now < 0) {
            return;
        } else {
            setTimeout(countDown, 100)
        }
    })()    
    
    
})

</script>