<div class="jb">
    <div class="fadeBack"></div>
    <div class="content">
        <div class="album_info">
            <div class="now_playing"><div class="pointer red">NOW PLAYING</div></div>
            <div class="song_title">Apple Blossom</div>
        </div>
    </div>  
</div>
<div id="nextup" style="width:750px;margin:0 auto;font-size:25px;line-height:25px">
        <div class="song small" style="float:left;margin-right:50px">
            <div class="albumArt" style="width:95px;height:65px;float:left;text-align:center;border:1px solid #ccc">0<br />votes</div>
            <div class="albumInfo" style="float:left">
                <div class="songName">Song One</div>
                <div class="artist"> by Artist One</div>
            </div>
        </div>
        <div class="song small" style="float:left;margin-right:50px">
            <div class="albumArt" style="width:95px;height:65px;float:left;text-align:center;border:1px solid #ccc">0<br />votes</div>
            <div class="albumInfo" style="float:left">
                <div class="songName">Song Two</div>
                <div class="artist"> by Artist Two</div>
            </div>
        </div>
        <br style="clear:both" />    
</div>

<h1 class="musicList">YCOMB COFFEE SONG LIST</h1>
