<div data-role="collapsible" data-theme="a"  data-content-theme="b">
   <h3>Currently playing -<span id="cp_title_artist"></span></h3>
   <div class="ui-grid-a votingList" style="clear:left">
   	<div class="ui-block-a albumArt"><img id="cp_art" src="" /></div>
   	<div class="ui-block-b"><span id="cp_dd_title"></span><br /><span id="cp_dd_artist"></span></div>
   </div>
</div>

<div data-role="collapsible" data-theme="b"  data-content-theme="b" id="votingList">
   <h3>Vote for the next song</h3>
    <div class="ui-body votingList">
        <div class="ui-grid-a votingListWrapper" style="clear:left">
        </div>
    </div>
</div>

<!-- useless header
<div><div class="pointer red">Up For Vote!<div class="point red"></div></div></div>
-->

<script type="text/javascript">
var voting_round_id;
var jukebox_id = <%= @jukebox.id %>;
$(function() {
    $.get("/voting_rounds/current",
        {"jukebox_id":jukebox_id},
        function(data) {
            voting_round_id = data.id;
        }
    );
    $.mobile.showPageLoadingMsg();
    // Get the current song playing
    $.get("/jukeboxes/<%= @jukebox.id %>/playing",
        function(d) {
            $("#cp_title_artist").text(d.name + " by " + d.artist)
            $("#cp_dd_title").text(d.name);
            $("#cp_dd_artist").text(d.artist);
            $("#cp_art").attr("src",'/images/albums/'+d.album_art)
        },
        "json"    
    )
    

    
    
    // Get the songs up for vote
    $.get("/jukeboxes/<%= @jukebox.id %>/songsForVoting",
         function(data) {
             // This is the list of songs for the current voting round.
             // When the voting round finishes, call this function again!
             $("#votingList").find("div.votingListWrapper").html(data).trigger('expand');
             $.mobile.hidePageLoadingMsg();
             attachVotes();
         }
         
     );
    
    
    
    $("header div.headWrap").click(function() {
        $("#slider").slideToggle("slow");
    })

})


// Fuck namespacing
function setSongPercent (songDOM, percent) {
    var $song = $(songDOM);
    //Set % text
    $song.find("div.progBar span").text(percent+"%");
    
    //Set length of progressbar
    $song.find("div.progBar").css("width", (percent+"%"));    
}

function updatePerc() {
    //Grab current state of all songs
    $.get("/jukeboxes/" + jukebox_id + "/songsForVoting", 
        function(data) {
            votes = data.votes;
            var totalVotes = 0;
            //Grab total votes
            totalVotes = votes.length;
            votes_per_song = {};
            for(var i=0;i<totalVotes;i++) {
                var song_id = votes[i].vote.song_id
                if(votes_per_song[song_id]) {
                    votes_per_song[song_id] += 1;
                } else {
                    votes_per_song[song_id] = 1;
                }
            }

            // update Songs 
            for (var key in votes_per_song) {
                var perc = (votes_per_song[key]/totalVotes)*100;
                setSongPercent($("#song"+key).eq(0), perc);
            }

        }, 
    "json")
    setTimeout(updatePerc, 1000)
}

function attachVotes() {
    //voting
    $("div.songForVote").click(function() {
        $.post("/votes", { "vote[user_id]": 2, "vote[song_id]": $(this).attr("id").replace("song",""), "vote[voting_round_id]": voting_round_id });
        return false;
    })
}

$(function () {
    //Slide widets in
    
    $('#tlContainer').animate( {"top":0}, 2000, "easeOutElastic" );
    
    
    
    // Request to update numbers
    updatePerc()
    
    //Countdown timer until song changes
    var totalTime = 10,
        endTime = new Date(),
        $timer = $("#countdown");
    endTime.setSeconds(endTime.getSeconds() + totalTime);
        
        
    (function countDown() {
        var now = new Date(),
            timeLeft = Math.floor((endTime-now)/1000),
            formatted = timeLeft < 10 ? timeLeft < 0 ? "00": "0"+timeLeft : timeLeft;
        $timer.text("00:"+formatted);
            
        if(endTime - now < 0) {
            return;
        } else {
            setTimeout(countDown, 100)
        }
    })()    
    
    
})

</script>
