
<div id="lifeLine"><div class="llTop"></div><div class="llLine"></div></div>

<ul class="tasks">
    <% if signed_in? %>
      <li>User logged in as <%= current_user.name %></li>
    <% else %>
      <li>User not signed in</li>
    <% end %>
    <li>Record votes</li>
    <li>Smiley slider</li   >
   <li> Login with Facebook</li> 
    <li>Drag and drop widgets</li>
    <li>Mobile site</li>
    <li>play music</li>
    <li>QR code to launch site on phone</li>
</ul>


<%= render @jukebox %>
<div id="tlContainer">
    <% 20.times do |t| %>
    <div class="tlItem <%= t%2 == 0 ? :left : :right %>">
        <div class="tlHeader"><div class="fbimage"></div><span class="people"><h4>3 People</h4><span class="timeago">One hour ago<span></span></div>
        <h3 class="action">Suggest listening to</h3>
        <div class="album">
            <span class="artist">Apple Blossom</span>
            <span class="song">by Esperanza Spalding</span>
        </div>
    </div>    
    <% end %>
</div>


<div id="song_votes"></div>

<script type="text/javascript">
var voting_round_id;
var jukebox_id = <%= @jukebox.id %>;

function newVotingRound() {
    $.post("/voting_rounds/newrand?jukebox_id=" + jukebox_id,
        function(data) {
            voting_round_id = data["id"];
            $.get("/jukeboxes/" + jukebox_id + "/songsForVoting",
                function(data) {
                    // This is the list of songs for the current voting round.
                    // When the voting round finishes, call this function again!
                    $("#song_votes").html(data);
                    attachVotes();
                }
                
            );
        },
        "json"
    );
}
// Fuck namespacing
function setSongPercent (songDOM, percent) {
    var $song = $(songDOM);
    //Set % text
    $song.find("div.progBar span").text(percent+"%");
    
    //Set length of progressbar
    $song.find("div.progBar").css("width", (percent+"%"));    
}
function updatePerc() {
    //Grab current state of all songs
    $.get("/jukeboxes/" + jukebox_id + "/songsForVoting", 
        function(data) {
            votes = data.votes;
            var totalVotes = 0;
            //Grab total votes
            totalVotes = votes.length;
            votes_per_song = {};
            for(var i=0;i<totalVotes;i++) {
                var song_id = votes[i].vote.song_id
                if(votes_per_song[song_id]) {
                    votes_per_song[song_id] += 1;
                } else {
                    votes_per_song[song_id] = 1;
                }
            }

            // update Songs 
            for (var key in votes_per_song) {
                var perc = (votes_per_song[key]/totalVotes)*100;
                setSongPercent($("#song"+key).eq(0), perc);
            }

        }, 
    "json")
    setTimeout(updatePerc, 1000)
}
function attachVotes() {
    //voting
    $("div.votingSong").click(function() {
        console.log("Got a click...");
        console.log("Voting round is " + voting_round_id);
        $.post("/votes", { "vote[user_id]": 2, "vote[song_id]": $(this).attr("id").replace("song",""), "vote[voting_round_id]": voting_round_id });
        return false;
    })
}

$(function () {
    //Slide widets in
    
    $('#tlContainer').animate( {"top":0}, 2000, "easeOutElastic" );

    newVotingRound();
    
    // Request to update numbers
    updatePerc()
    
    
    
    //Countdown timer until song changes
    var totalTime = 10,
        endTime = new Date(),
        $timer = $("#countdown");
    endTime.setSeconds(endTime.getSeconds() + totalTime);
        
        
    (function countDown() {
        var now = new Date(),
            timeLeft = Math.floor((endTime-now)/1000),
            formatted = timeLeft < 10 ? timeLeft < 0 ? "00": "0"+timeLeft : timeLeft;
        $timer.text("00:"+formatted);
            
        if(endTime - now < 0) {
            return;
        } else {
            setTimeout(countDown, 100)
        }
    })()    
    
    
})

</script>
